{% extends 'layout.twig' %}

{% block content %}
    <div class="flex pt-20 pb-10 items-center justify-center">
        <div class="bg-white p-8 rounded-lg" style="height: 25vh;">
            <h1 class="text-7xl text-gray-700 font-bold text-center">Inhabitants of {{ locationName }}</h1>
        </div>
    </div>

    {% include 'SearchMenu.twig' %}

    <div class="grid grid-cols-2 gap-6 justify-items-center bg-gray-800 pt-20 pl-5 pb-10">
        {% if characters is empty %}
            <p>No characters found for the selected location.</p>
        {% else %}
            {% for character in characters %}
                <div class="max-w-md w-full lg:max-w-full lg:flex pl-4">
                    <div class="w-96 h-54 lg:h-48 lg:w-64 flex-none bg-cover rounded-tl rounded-bl
                        text-center overflow-hidden shadow-lg"
                         style="background-image: url('{{ character.image }}')">
                    </div>
                    <div class="bg-gray-700 w-96 h-54 rounded-tr rounded-br p-4 flex flex-col justify-between leading-normal shadow-lg">
                        <div class="mb-8">
                            <a href="/character/{{ character.id }}"
                               target="_blank" class="text-2xl text-white font-bold">{{ character.name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
