<div class="flex flex-col space-y-4 mb-4 items-center justify-center">
    <div class="flex space-x-4">
        <form action="/search" method="GET" class="rounded-lg bg-gray-700 p-2 flex flex-col items-center">
            <label for="name" class="mx-2 text-white">Search character by name:</label>
            <div class="flex items-center">
                <input type="text" id="name" name="q" class="bg-white">
                <button type="submit" class="ml-2 bg-gray-500 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded">
                    Search
                </button>
            </div>
        </form>

        <form action="/filter" method="GET" class="rounded-lg bg-gray-700 p-2 flex flex-col items-center">
            <label for="location" class="mx-2 text-white">Select by location:</label>
            <div class="flex items-center">
                <select id="location" name="location" class="bg-white">
                    <option value="">All locations</option>
                    {% for location in locations %}
                        <option value="{{ location }}">{{ location }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="ml-2 bg-gray-500 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded">
                    Filter
                </button>
            </div>
        </form>

        <div class="rounded-lg bg-gray-700 p-2 flex flex-col items-center">
            <label for="episode" class="mx-2 text-white">Select by episode:</label>
            <div class="flex items-center">
                <select id="episode" name="episode" class="bg-white">
                    <option value="">All episodes</option>
                    {% for episode in episodes %}
                        <option value="{{ episode }}">{{ episode }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="ml-2 bg-gray-500 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded">
                    Filter
                </button>
            </div>
        </div>
    </div>
</div>
